@import "https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

body {
    background-color: #f5f5f5;
}

#app {
    /*font-family: "Avenir", Helvetica, Arial, sans-serif;*/
    font-family: "Literata", serif;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 20px;
}

.title {
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    line-height: 0.3;
    /*margin-bottom: 0px;*/
}
@media (max-width: 991px) {
    .title {
        font-size: 33px;
    }
}

.subtitle {
    font-family: "Rajdhani", sans-serif !important;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: #ec6362;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 70px;

    /*text-align: center;*/
}
.bigcontainer {
    justify-self: center;
    background-color: white;

    /*border-style: ridge;*/
    border-radius: 20px;
}

@media (min-width: 991px) {
    .bigcontainer {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.containersubtitle {
    display: flex;
    justify-content: center;
}

h1 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 500;
    padding: 10px;
}

h3 {
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 600 !important;
    text-align: center;
    margin-bottom: 60px;
    color: #ec6362;
    font-weight: 300;
}

p {
    line-height: 1.8;
}

/*colori navbar*/
.nav-link {
    /*color: #ec6262 !important;*/
    color: #000000 !important;
}

/*centratura seconda linea navbar*/
#secondaRiga {
    /* text-indent: 1em;*/
    /*margin: 0;*/
}

/* CENTRA TUTTE TAB CON = DIMENSIONI
#secondaRiga {
  display: flex;
  justify-content: center;
}

#secondaRiga .nav-item {
  flex-grow: 1;
  text-align: center;
}
*/

/*colore tab selezionate top bar*/
.navbar-nav .nav-item .nav-link.active {
    background-color: yellow; /* Colore di sfondo per la tab selezionata */
    color: #ec6362; /* Colore del testo per la tab selezionata */
}

/*centrare menu ad hambuerger*/
.navbar-toggler {
    position: relative;
    float: right;
}
.accordion-button:not(.collapsed) {
    color: #ec6262 !important;
    background-color: #f9ecec;
    /*background-color: #e66a693f;

    #f9dada*/

    /*box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
      var(--bs-accordion-border-color);
      */
}
.accordion-button:focus {
    z-index: 3;
    border-color: #f9dada !important;
    outline: 0;
    box-shadow: #f9dada !important;
}

.accordion {
    /*--bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns=http://www.w3.org/2000/svg viewBox=0 0 16 16 fill=%23212529%3e%3cpath fill-rule=evenodd d=M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z/%3e%3c/svg%3e);*/
    /*--bs-accordion-btn-active-icon: url('data:image/svg+xml,<svg xmlns=http://www.w3.org/2000/svg viewBox=0 0 16 16 fill=#212529><path fill-rule=evenodd d=M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z/></svg>');*/
    --bs-accordion-btn-focus-border-color: #f9dada !important;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(249, 218, 218, 1);
}

/*eliminare le rientranze dei container*/
.row {
    padding-right: 0;
    padding-left: 0;
}
.col-img {
    width: 40px; /* Imposta la larghezza dell'immagine al 100% della larghezza della colonna genitore */
    height: auto;
}

.imaginKnowMore {
    display: flex;
    align-items: center;
}

.container {
    /*background-color: yellow;*/
    /*justify-content: center;*/
    align-items: center;
}
.innercontainer {
    /*margin-left: 5px;
    margin-righr: 5px;*/
}
.topcontainer {
    /*border-style: solid;
    border-bottom-width: thin;*/
    border-bottom: 1px solid #ced4da;
    padding-bottom: 0px;
    margin-bottom: 70px;
}

.row {
    padding-bottom: 15px;
}
.rowbetween {
    padding-bottom: 5px;
}
/*
.col {
  background-color: yellow;
  padding-left: 5px;
}
*/
.colLeft {
    /*background-color: yellow;*/
    /*  padding-right: 40px;*/
    text-align: justify;
}
.colRight {
    text-align: justify;
    /*padding-left: 35px;
    padding-right: 30px;*/

    /*background-color: wheat;*/
}

@media (min-width: 768px) {
    .colLeft {
        padding-right: 40px;
    }
    .colRight {
        padding-left: 35px;
        padding-right: 30px;
    }
}

/*CHECKBOX*/
.col-4 {
    align-items: left !important;
    justify-content: left !important;
}
.definizioni {
    border-style: solid;
    border-width: 1px;
    /*border-radius: 5px;*/
    border-radius: 0.375rem;
    border-color: #ced4da;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    line-height: 1.8;
}

/* da vedere*/
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
/*
.checkbox-container.checked:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: #42b983;
}
*/
/*
.hidden-checkbox {
  display: none;
}
*/

.leCheck {
    padding-left: 10px;
}
/*
.checkbox-text {
  position: relative;
  z-index: 1;
  background-color: red;
}*/

.custom-checkbox-input {
    background-color: white;
    border-radius: 5px;
    width: 25px;
    text-align: center;
}

/*fino a qua*/

/*
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}
.accordion {
    --bs-accordion-color: #212529;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #212529;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #0c63e4;
    --bs-accordion-active-bg: #e7f1ff;
}
*/

/*BUTTONS*/
.btn-primary {
    background-color: #ec6362;
    border-color: #ec6362;
    font-family: "Rajdhani", sans-serif !important;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;

    /*line-height: 0.3;*/
}
